# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea
node_modules/
wiki/node_modules/
wiki/.vitepress/cache/
wiki/.vitepress/dist/



.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
