:root.dark {
  --vp-c-blue-1: #ED1C65 !important;
  --vp-c-blue-2: #F73D91 !important;
  --vp-c-blue-3: #FF6F95 !important;
  --vp-c-blue-soft: rgba(28, 108, 237, 0.1) !important;
}

:root {
  --vp-c-blue-1: #0066cc;
  --vp-c-blue-2: #0088ff;
  --vp-c-blue-3: #00aaff;
  --vp-c-blue-soft: rgba(0, 102, 204, 0.1);

  --vp-c-brand-1: var(--vp-c-blue-3);
  --vp-c-brand-2: var(--vp-c-blue-2);
  --vp-c-brand-3: var(--vp-c-blue-1);
  --vp-c-brand-soft: var(--vp-c-blue-soft);

  --vp-home-hero-name-color: transparent;
  /*--vp-home-hero-name-background: -webkit-linear-gradient(*/
  /*  120deg,*/
  /*  var(--vp-c-brand-1) 30%,*/
  /*  var(--vp-c-brand-2)*/
  /*);*/
  --vp-home-hero-name-background: linear-gradient(to right, rgb(85, 205, 252), rgb(179, 157, 233), rgb(247, 168, 184), rgb(246, 216, 221), rgb(255, 255, 255) 45%, rgb(255, 255, 255), rgb(255, 255, 255) 55%, rgb(246, 216, 221), rgb(247, 168, 184), rgb(179, 157, 233), rgb(85, 205, 252));

  /*--vp-home-hero-image-background-image: -webkit-linear-gradient(*/
  /*  120deg,*/
  /*  var(--vp-c-brand-1) 30%,*/
  /*  var(--vp-c-brand-2)*/
  /*);*/

  --vp-home-hero-image-background-image: linear-gradient(180deg, #FE0000 16.66%,
    #FD8C00 16.66%, 33.32%,
    #FFE500 33.32%, 49.98%,
    #119F0B 49.98%, 66.64%,
    #0644B3 66.64%, 83.3%,
    #C22EDC 83.3%);
  --vp-home-hero-image-filter: blur(66px)
}

.VPHomeHero {
  margin-top: 3rem !important;
  margin-bottom: 6rem;
}

div.VPHero.has-image.VPHomeHero > div > div.image > div > img{
  margin-top: -16px !important;

  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

em {
  color: #ffd0d7;
}

.vp-doc h1 {
  background: linear-gradient(to right, rgb(237, 34, 36), rgb(243, 91, 34), rgb(249, 150, 33), rgb(245, 193, 30), rgb(241, 235, 27) 27%, rgb(241, 235, 27), rgb(241, 235, 27) 33%, rgb(99, 199, 32), rgb(12, 155, 73), rgb(33, 135, 141), rgb(57, 84, 165), rgb(97, 55, 155), rgb(147, 40, 142));

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vp-doc h2 {
  padding-top: 48px;
  font-size: 28px;
}

.vp-doc h2 .header-anchor {
  top: 48px;
}